.messages{
  height: 90vh;
}
.aside-message{
  background-color: #f4f4f4;
}
.sidebar-admin{
  padding: 1.2em;
}
.sidebar-admin ul li{
  list-style: none;
  padding: 0.5em;
}
.sidebar-admin ul li:hover {
  background-color: rgb(235 235 235);
  cursor: pointer;
}
.sidebar-admin ul li a{
  text-decoration: none;
  color: #000000;
  width: 100%;
  display: flex;
}
.sidebar-admin ul li.active{
   background-color: rgb(100, 100, 100)!important;
}
.sidebar-admin ul .active a{
   color: #efefef!important;
}
