.image-user {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 1em;
}

.image-user img {
  width: 100%;
}

.item-user .card {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  justify-content: space-between;
  align-items: center;
}
.item-user .card .user {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}
.item-user .card:hover {
  background-color: rgb(244, 244, 244);
}
.user_name p {
  margin-bottom: 0.2rem;
}
.user_name p a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.user_name p a:hover {
  text-decoration: none;
  font-weight: 500;
  color: rgb(114, 114, 114);
}
